# roles/helm/tasks/main.yml

- name: Install curl
  apt:
    name: curl
    state: present
    update_cache: yes

- name: Download Helm binary
  get_url:
    url: https://get.helm.sh/helm-v3.12.0-linux-amd64.tar.gz
    dest: /tmp/helm.tar.gz

- name: Create helm directory
  file:
    path: /tmp/helm
    state: directory

- name: Extract Helm
  unarchive:
    src: /tmp/helm.tar.gz
    dest: /tmp/helm
    remote_src: yes

- name: Move helm to /usr/local/bin
  copy:
    src: /tmp/helm/linux-amd64/helm
    dest: /usr/local/bin/helm
    mode: '0755'
    remote_src: yes

- name: Verify Helm installation
  command: helm version
  register: helm_version
  changed_when: false

- name: Display Helm version
  debug:
    var: helm_version.stdout
