# roles/jenkins/tasks/main.yml

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Java 11 (recommended for Jenkins)
  apt:
    name: openjdk-11-jdk
    state: present

- name: Add Jenkins GPG key
  apt_key:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io.key
    state: present

- name: Add Jenkins repository
  apt_repository:
    repo: deb https://pkg.jenkins.io/debian-stable binary/
    state: present
    filename: jenkins

- name: Install Jenkins
  apt:
    name: jenkins
    state: latest
    update_cache: yes

- name: Enable and start Jenkins service
  systemd:
    name: jenkins
    state: started
    enabled: yes

- name: Wait for Jenkins to start
  wait_for:
    port: 8080
    delay: 10
    timeout: 60

- name: Get initial admin password
  shell: cat /var/lib/jenkins/secrets/initialAdminPassword
  register: jenkins_password
  changed_when: false

- name: Display Jenkins access information
  debug:
    msg: |
      Jenkins is running on http://{{ ansible_host }}:8080
      Initial admin password: {{ jenkins_password.stdout }}
